* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v418_305 {
  width: 360px;
  height: 2372px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_307 {
  width: 320px;
  height: 320px;
  background: url("../images/v418_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v418_308 {
  width: 1000px;
  height: 320px;
  background: url("../images/v418_308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v424_396 {
  width: 320px;
  height: 320px;
  background: url("../images/v424_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_497 {
  width: 320px;
  height: 320px;
  background: rgba(79,213,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v424_403 {
  width: 320px;
  height: 320px;
  background: url("../images/v424_403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v424_402 {
  width: 320px;
  height: 320px;
  background: rgba(79,213,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v424_393 {
  width: 209px;
  height: 209px;
  background: rgba(12,194,251,1);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 131px;
  border-radius: 50%;
}
.v424_395 {
  width: 177px;
  height: 177px;
  background: url("../images/v424_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 128px;
  overflow: hidden;
}
.v424_394 {
  width: 189px;
  height: 132px;
  background: url("../images/v424_394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 30px;
  overflow: hidden;
}
.v418_311 {
  width: 27px;
  color: rgba(39,40,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v418_498 {
  width: 189px;
  color: rgba(39,40,51,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v418_499 {
  width: 93px;
  color: rgba(39,40,51,1);
  position: absolute;
  top: 118px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v418_313 {
  width: 320px;
  height: 320px;
  background: rgba(151,71,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 340px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v418_314 {
  width: 320px;
  height: 320px;
  background: rgba(255,128,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 680px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_316 {
  width: 331px;
  height: 132px;
  background: url("../images/v418_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 9px;
  overflow: hidden;
}
.v418_317 {
  width: 90px;
  height: 98px;
  background: url("../images/v418_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}
.v418_318 {
  width: 60px;
  height: 60px;
  background: rgba(232,246,253,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 11px;
  border-radius: 50%;
}
.v418_319 {
  width: 90px;
  height: 98px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_320 {
  width: 60px;
  height: 60px;
  background: url("../images/v418_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 11px;
  overflow: hidden;
}
.v418_321 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85px;
  left: 11px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_322 {
  width: 60px;
  height: 83px;
  background: url("../images/v418_322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 97px;
  overflow: hidden;
}
.v418_323 {
  width: 60px;
  height: 60px;
  background: rgba(255,241,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-radius: 50%;
}
.v418_324 {
  width: 60px;
  height: 60px;
  background: url("../images/v418_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_325 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 70px;
  left: 1px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_326 {
  width: 60px;
  height: 83px;
  background: url("../images/v418_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 184px;
  overflow: hidden;
}
.v418_327 {
  width: 60px;
  height: 60px;
  background: rgba(232,246,253,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-radius: 50%;
}
.v418_328 {
  width: 60px;
  height: 60px;
  background: url("../images/v418_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_329 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 70px;
  left: 1px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_330 {
  width: 60px;
  height: 83px;
  background: url("../images/v418_330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 271px;
  overflow: hidden;
}
.v418_331 {
  width: 60px;
  height: 60px;
  background: rgba(255,244,227,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v418_332 {
  width: 60px;
  height: 60px;
  background: url("../images/v418_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v418_333 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 70px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_334 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 11px;
  font-family: NanumSquare Neo;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v418_335 {
  width: 320px;
  height: 507px;
  background: url("../images/v418_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 20px;
  overflow: hidden;
}
.v418_336 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v418_338 {
  width: 320px;
  height: 392px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  border: 1px solid rgba(240,240,240,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v418_339 {
  width: 120px;
  height: 190px;
  background: url("../images/v418_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v418_340 {
  width: 120px;
  height: 190px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v418_341 {
  width: 122px;
  height: 194px;
  background: url("../images/v418_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v418_342 {
  width: 227px;
  height: 46px;
  background: url("../images/v418_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 47px;
  overflow: hidden;
}
.v418_343 {
  width: 227px;
  height: 21px;
  background: url("../images/v418_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_345 {
  width: 175px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 52px;
  font-family: NanumSquare Neo;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v418_346 {
  width: 174px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 31px;
  left: 27px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v418_347 {
  width: 280px;
  height: 30px;
  background: url("../images/v418_347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v418_351 {
  width: 197px;
  height: 21px;
  background: url("../images/v418_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 62px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v418_356 {
  width: 320px;
  height: 268px;
  background: url("../images/v418_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1279px;
  left: 20px;
  overflow: hidden;
}
.v418_357 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v418_358 {
  width: 320px;
  height: 220px;
  background: url("../images/v418_358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v418_359 {
  width: 470px;
  height: 220px;
  background: url("../images/v418_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_360 {
  width: 150px;
  height: 220px;
  background: url("../images/v418_360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v418_361 {
  width: 150px;
  height: 220px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(240,240,240,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v418_362 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v418_363 {
  width: 94px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 159px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v418_364 {
  width: 94px;
  color: rgba(49,130,247,1);
  position: absolute;
  top: 177px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Heavy;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v418_365 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v418_367 {
  width: 150px;
  height: 220px;
  background: url("../images/v418_367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 160px;
  overflow: hidden;
}
.v418_368 {
  width: 150px;
  height: 220px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(240,240,240,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v418_369 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v418_370 {
  width: 100px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 114px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v418_373 {
  width: 150px;
  height: 220px;
  background: url("../images/v418_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 320px;
  overflow: hidden;
}
.v418_374 {
  width: 150px;
  height: 220px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(240,240,240,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v418_375 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v418_376 {
  width: 100px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 114px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v418_379 {
  width: 113px;
  height: 173px;
  background: url("../images/v418_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1637px;
  left: 20px;
  overflow: hidden;
}
.v418_380 {
  width: 100px;
  height: 25px;
  background: url("../images/v418_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_382 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 40px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v418_383 {
  width: 100px;
  height: 25px;
  background: url("../images/v418_383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v418_384 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 40px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v418_386 {
  width: 113px;
  height: 25px;
  background: url("../images/v418_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  overflow: hidden;
}
.v418_387 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 40px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v418_389 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v418_390 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1900px;
  left: 20px;
  font-family: NanumSquare Neo;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v418_395 {
  width: 320px;
  height: 310px;
  background: rgba(235,244,255,1);
  opacity: 1;
  position: absolute;
  top: 1942px;
  left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v418_396 {
  width: 200px;
  height: 120px;
  background: url("../images/v418_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1962px;
  left: 80px;
  overflow: hidden;
}
.v418_397 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2097px;
  left: 94px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v418_398 {
  width: 130px;
  height: 45px;
  background: url("../images/v418_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2132px;
  left: 45px;
  overflow: hidden;
}
.v418_399 {
  width: 130px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v418_400 {
  width: 130px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_401 {
  width: 130px;
  height: 45px;
  background: url("../images/v418_401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2187px;
  left: 45px;
  overflow: hidden;
}
.v418_402 {
  width: 130px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v418_403 {
  width: 130px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_404 {
  width: 130px;
  height: 45px;
  background: url("../images/v418_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2132px;
  left: 185px;
  overflow: hidden;
}
.v418_405 {
  width: 130px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v418_406 {
  width: 130px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v418_407 {
  width: 130px;
  height: 45px;
  background: url("../images/v418_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2187px;
  left: 185px;
  overflow: hidden;
}
.v418_408 {
  width: 130px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v418_409 {
  width: 130px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v418_413 {
  width: 360px;
  height: 80px;
  background: url("../images/v418_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2292px;
  left: 0px;
  overflow: hidden;
}
.v418_414 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v418_415 {
  width: 24px;
  height: 47px;
  background: url("../images/v418_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 26px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_417 {
  width: 12px;
  color: rgba(49,130,247,1);
  position: absolute;
  top: 31px;
  left: 6px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v418_418 {
  width: 24px;
  height: 47px;
  background: url("../images/v418_418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 97px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_420 {
  width: 23px;
  color: rgba(104,115,143,1);
  position: absolute;
  top: 31px;
  left: 1px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v418_421 {
  width: 24px;
  height: 47px;
  background: url("../images/v418_421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 168px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_423 {
  width: 23px;
  color: rgba(104,115,143,1);
  position: absolute;
  top: 31px;
  left: 1px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v418_424 {
  width: 24px;
  height: 47px;
  background: url("../images/v418_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 239px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_426 {
  width: 23px;
  color: rgba(104,115,143,1);
  position: absolute;
  top: 31px;
  left: 1px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v418_427 {
  width: 24px;
  height: 47px;
  background: url("../images/v418_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 310px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v418_429 {
  width: 23px;
  color: rgba(104,115,143,1);
  position: absolute;
  top: 31px;
  left: 1px;
  font-family: NanumSquare Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
